.credo.exs @michaelst @SophisticaSean
.dialyzer_ignore.exs @michaelst @SophisticaSean
.tool-versions @michaelst @SophisticaSean
/.devops/ @michaelst @SophisticaSean
/.github/ @michaelst @SophisticaSean
mix.exs @michaelst @SophisticaSean
mix.lock @michaelst @SophisticaSean